body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 200px; /* Ajuste conforme necessário */
}

.voltar{ 
    position: absolute;
    top: 50px; /* Ajuste para alinhar com o título */
    left: 10px;
    display:inline-flex;
    align-items: center;
    gap: 10px;

}