body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 200px; /* Ajuste conforme necessário */
}

.voltar{ 
    position: absolute;
    top: 50px; /* Ajuste para alinhar com o título */
    left: 10px;
    display:inline-flex;
    align-items: center;
    gap: 10px;

}

.container {
    margin-top: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

h1 span {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.profile {
    position: absolute;
    top: 50px; /* Ajuste para alinhar com o título */
    right: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

.dificuldade {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 160px;
    
}

.tela {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 5%;
}

.tela img {
    width: 100%;
    border-radius: 10px;
}

.tela p {
    font-weight: bold;
    margin-top: 10px;
}

.tela:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}